.btn {
    display: inline-block;
    width: auto;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #015ad9;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.btn:hover {
    background-color: #146be6;
}