.form {
    display:inline-block;
    width: 100%;
}

.form > .form-row {
    display:inline-block;
    width: 100%;
    margin-bottom: 30px;
}

.form > .form-row:last-of-type {
    margin-bottom: 0;
}

.form > .form-row > label {
    display:inline-block;
    width: 100%;
    margin-bottom: 5px;
}

.form > .form-row > input {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    line-height: 40px;
    border: none;
    border-bottom: 2px solid #ccc;
}

.form > .form-row > input:focus {
    outline: violet dotted 1px;
    /* outline: none; */
}

.form input::placeholder {
    color: #999;
    font-style: italic;
}